.font-family {
    src: url(https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Vazirmatn:wght@400;600&display=swap);
  }

.flex {
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
}

.img {
    width: 700px;
    border-radius: 30px;

}

.left-div {
    justify-items: center;
    margin-left: 5%;

}
.text {
    align-content: center;
    display: inline;
   
}

.right-div {
    justify-content: left;
    margin-left: 5%;

}

.group {
    position: relative;
    padding-top: 20PX;
    display: flex;
}

.input {
    padding-top: 30px;
    /* width: 100px; */
    border-radius: 15px;
    border-style: solid;
    width: 400px;
    border-color: #706c70;
    margin-bottom: 10px;
}

.input-label {
    color: #706c70;
    position: absolute;
    left: 20px;
    top: 36px;
}

.button {
    border-radius: 15px;
    border-style: solid;
    width: 400px;
    background-color: black;
    padding-top: 30px;
    align-items: center;
    display: flex;
    
}

.label-button {
    color: white;
    position: absolute;
    justify-items: center;
    align-items: center;
    display: flex;
    right: 160px;
    top: 34px; 

}

.logo {
    background-color: black;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    font-size: x-small;
    top: 30px;


}

.top-left {
    position: absolute;
    top: 70px;
    /* left: 500px; */
    right: 45px;
    color: white;
    font-size: large;
}

.bottom-left {
    position: absolute;
    top: 750px;
    right: 390px;
    color: white;
    font-size: 20px;
    /* left: 16px; */
}

.ques {
    margin-bottom: 70px;
}